USE [master]
GO
/****** Object:  Database [PharmacySupplyManagementSystem]    Script Date: 09-Nov-20 09:37:31 AM ******/
CREATE DATABASE [PharmacySupplyManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacySupplyManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PharmacySupplyManagementSystem.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PharmacySupplyManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PharmacySupplyManagementSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacySupplyManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacySupplyManagementSystem]
GO
/****** Object:  Table [dbo].[Demands]    Script Date: 09-Nov-20 09:37:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Demands](
	[DemandId] [int] IDENTITY(1,1) NOT NULL,
	[Medicine] [varchar](50) NOT NULL,
	[Demand] [int] NOT NULL,
 CONSTRAINT [PK_Demands] PRIMARY KEY CLUSTERED 
(
	[DemandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 09-Nov-20 09:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplies](
	[SupplyId] [int] IDENTITY(1,1) NOT NULL,
	[PharmacyName] [varchar](50) NOT NULL,
	[MedicineName] [varchar](50) NOT NULL,
	[SupplyCount] [int] NOT NULL,
 CONSTRAINT [PK_Supplies] PRIMARY KEY CLUSTERED 
(
	[SupplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Demands] ON 

INSERT [dbo].[Demands] ([DemandId], [Medicine], [Demand]) VALUES (1, N'Aspirin', 50)
INSERT [dbo].[Demands] ([DemandId], [Medicine], [Demand]) VALUES (2, N'Aspirin', 60)
INSERT [dbo].[Demands] ([DemandId], [Medicine], [Demand]) VALUES (3, N'Aspirin', 60)
SET IDENTITY_INSERT [dbo].[Demands] OFF
SET IDENTITY_INSERT [dbo].[Supplies] ON 

INSERT [dbo].[Supplies] ([SupplyId], [PharmacyName], [MedicineName], [SupplyCount]) VALUES (1, N'Pharmacy1', N'Aspirin', 12)
INSERT [dbo].[Supplies] ([SupplyId], [PharmacyName], [MedicineName], [SupplyCount]) VALUES (2, N'Pharmacy2', N'Aspirin', 12)
INSERT [dbo].[Supplies] ([SupplyId], [PharmacyName], [MedicineName], [SupplyCount]) VALUES (3, N'Pharmacy3', N'Aspirin', 12)
SET IDENTITY_INSERT [dbo].[Supplies] OFF
USE [master]
GO
