@model PharmacyMedicineSupplyPortal.Models.Users
@{ 
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div>
    <h1>Login</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <h3 id="errormsg" style="visibility: hidden;color:red;">*Incorrect Email or Password</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
@if(ViewBag.invalid != null)
{
    <script type="text/javascript">

        window.onload = function () {
            errormsg.style.visibility = 'visible';
        }
    </script>
}