
@{
    ViewData["Title"] = "ExceptionAndError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="alert alert-light">
            <strong>@ViewBag.Message</strong>
        </div>
    </div>
</div>

